body
{
	font-family: "Open Sans", sans-serif;
}

a
{
	text-decoration: none;
	color: #FFC114;
	position: relative;
}

a.underline::before
{
	content: "";
	position: absolute;
	height: 2px;
	width: 0;
	bottom: 0;
	left: 0;
	background-color: #FFC114;
	transition: width 0.2s ease-in-out 0s;
}

a.underline:hover::before
{
	width: 100%;
}
