*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: inherit;
}

html, body {
	height: 100svh;
	padding: 0;
	margin: 0;
	background-color: #111;
	color: #0f0;
}

div {
	--size: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;

	font-family: "VT323", monospace;
	font-size: var(--size);
}

h1, h2, h3 {
	text-align: center;
}

#carret {
	display: inline-block;
	width: 2rem;
	height: 4rem;
	background-color: #0f0;
	transition: opacity .1s;
}

.hidden {
	opacity: 0;
}
