/* 
FFC114 = orange
1F1F1F = black
32CCFF = blue
*/

footer
{
	margin-bottom: 2vh;
	margin-top: 2vh;
}

body
{
	font-family: "Open Sans", sans-serif;
	margin: 0;
	background-color: #1F1F1F;
}

.centered
{
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

#projects 
{
	display: grid;
	grid-template-columns: 33.3vw 33.3vw 33.3vw;
	grid-template-rows: auto;
	color: #000;
}

#projects div
{
	margin-right: 5%;
	margin-left: 5%;
	border: 3px solid #1F1F1F;
	background-color: #1F1F1F;
	margin-bottom: 5%;
	max-height: 90%;
}

#projects p, i
{
	padding-left: 7px;
	padding-right: 5px;
	padding-bottom: 10%;
	color: #32CCFF;
}

#projects h1
{
	padding-left: 10px;
	color: #FFC114;
}

#projects div img
{
	height: 347px;
	width: 570px;
}

footer
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-bottom: 0;
	padding: 0;
}

footer img
{
	display: block;
}

#github
{
	position: absolute;
	left: 55%;
	bottom: 30%;
}

#medium
{
	position: absolute;
	left: 45%;
	bottom: 30%;
}

.footerIcon
{
	height: 5vh;
	border-radius: 20px;
}

@media screen and (max-device-width: 750px)
{
	#projects
	{
		grid-template-columns: 100vw;
	}
}
