html
{
	background-color: #1F1F1F;
	width: 100vw;
	/* https://stackoverflow.com/questions/23367345/100vw-causing-horizontal-overflow-but-only-if-more-than-one/23367686
	Browsers mishandle width: 100vw by including the vertical scrollbar. max-width fixes this. */
	max-width: 100%;
}

header a
{
	position: fixed;
	font-size: 36px;
	text-decoration: none;
	color: #FFC114;
	top: 5%;
	left: 5%;
}

article
{
	position: relative;
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	color: white;
}

article img
{
	display: block;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

article h1
{
	font-size: 48px;
}

article h2
{
	font-size: 30px;
}

article p
{
	font-size: 21px;
}

@media print
{
	html, article
	{
		background-color: white;
		color: black;
	}

	article
	{
		width: 100%;
		margin: 0;
		padding: 0;
	}

	article p
	{
		font-size: 14px;
	}

	article h1
	{
		font-size: 30px;
	}

	article h2
	{
		font-size: 20px;
	}

	article img
	{
		max-width: 40%;
	}

	header
	{
		visibility: hidden;
	}
}

@media screen and (max-device-width: 750px)
{
	article
	{
		width: 100%;
		margin: 0;
		padding: 0;
	}

	article p
	{
		font-size: 14px;
	}

	article h1
	{
		font-size: 30px;
	}

	article h2
	{
		font-size: 20px;
	}

	article img
	{
		max-width: 60%;
	}

	header a
	{
		position: relative;
		margin-bottom: 50px;
	}
}
